obs-studio/plugin_config/obs-websocket/

# OBS stream keys (YouTube/Twitch/RTMP stream key = kredensial langsung)
obs-studio/basic/profiles/
obs-studio/plugin_config/rtmp-services/
obs-studio/profiler_data/
obs-studio/user.ini
obs-studio/global.ini

noctalia/plugins.toml

BraveSoftware/
VSCodium/
mozilla/
github-copilot/
obsidian/

spotify/
telegram-desktop/
atuin/
pulse/
dconf/
gpu-screen-recorder/
pi/
htop/

*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite-wal
*.sqlite-shm
leveldb/
Cache/
Crashpad/
*.log

.DS_Store

go/
pgcli/
