[Desktop Entry]
Type=Application
Name=HushMic
Comment=Real-time microphone noise suppression
Exec="/usr/bin/hushmic" --tray
Icon=hushmic
Terminal=false
Categories=AudioVideo;Audio;
X-GNOME-Autostart-enabled=true
